{% extends '::base.html.twig' %}

{% block navbar %}
    <header>
        <h1>
            <img src="{{ asset('bundles/rcpx/images/partidox-redciudadana-big.png') }}" class="img-responsive"/>
        </h1>
    </header>
{% endblock %}


{% block body %}
    <div class="row login">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>{{ "listas_abiertas"|trans }}</h2>

            <form action="{{ path("fos_user_security_check") }}" method="post" class="securityForm row" role="form">
                <p>En este espacio, desde el 23 de marzo a las 15.00h hasta el 24 de marzo a las 19.00h, los/as Usuarios/as  de la Red Ciudadana Partido  X (Usuario = persona proactiva con el  proyecto) pueden participar en la  ponderación de los/as candidatos/as que  consideren idóneos para conformar la  lista abierta ciudadana para la  elecciones europeas.</p>

                <p>Esos días los Usuarios/as encontrarán en esta página el formulario para acceder con el nombre de
                    usuario y contraseña que han recido por correo.</p>

                <p>Recordamos que esta no es una votación para un concurso de popularidad.</p>

                <p>Estamos escogiendo las personas más adecuadas para defender esta
                    <a href="http://partidox.org/medidas/">hoja de ruta</a> y este <a href="http://partidox.org/programa-europeo/">programa adaptado a
                    las europeas</a>
                </p>

                <p>Utilizamos los siguientes criterios de ponderación:</p>

                <ul>
                    <li>Conocimiento y afinidad con el programa de la Red Ciudadana Partido X </li>
                    <li>Conocimiento y afinidad con el método de trabajo de la Red Ciudadana Partido X </li>
                    <li>Competencias de la persona en sus materias  </li>
                    <li>Trayectoria demostrada de trabajo por el bien común </li>
                    <li>Capacidad para explicarse en público</li>
                    <li>Capacidad de hablar de temas que no son los suyos con responsabilidad, humildad y sin mentir.</li>
                    <li>Capacidad de relacionarse  </li>
                    <li>Conocimiento del inglés (o francés u otro idioma en segundo lugar) </li>
                    <li>Conocimiento de los mecanismos y las instituciones europeas</li>
                </ul>
                </p>
            </form>

        </div>
    </div>

{% endblock %}
