<header>
   <h1>
       <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example" />
    </h1>
</header>
<div class="title-logo">
    <h2>Introduce tus datos para participar</h2>
</div>
{{ render(controller("FOSUserBundle:Security:login")) }}
<p class="copy">&copy; Red Ciudadana - Partido X </p>
