<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Votolab{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="/css/styles.css" rel="stylesheet" media="screen">
        <style>
            html{
                background:#ffffff;
                font-family: Helvetica, Arial, Sans-Serif !important;
                color: #666666;
            }
            header{
                width: auto;
                margin: 50px auto 0;
            }
            h2{
                width: 600px;
                margin: 50px auto 0;
                background: #39bad9;
                padding: 25px;
                color:#ffffff;
                text-align: center;
                font-weight: lighter;
                text-transform: uppercase;
            }
            form{
                width:600px;
                background: #f9f9f9;
                margin: 10px auto 0;
                padding: 25px;
            }
            form div{
                width: 49%;
                float: left;
            }
            form label{
                display: block;
                font-size: 0.9rem;
                margin-bottom: 0.25rem;
            }
            form input[type=text],
            form input[type=password]{
                border: 1px solid #f1f1f1;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                width: 90%;
                padding:0.5rem;
            }
            form input[type=submit]{
                width: 100%;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                background: #39bad9;
                color: #ffffff;
                text-transform: uppercase;
                cursor: pointer;
                border: none;
                padding:0.75rem;
            }
            form input[type=submit]:hover{
                background: #999999;
                color: #ffffff;
                text-transform: uppercase;
                cursor: pointer;
            }

        </style>

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('/js/bootstrap.js') }}"></script>
    </body>
</html>
