{% extends '::base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="active">{{ 'my_profile'|trans|capitalize }}</li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'my_profile'|trans|capitalize }}
        </div>
        <div class="panel-body">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}

            <h4><a href="{{ path('votolab_election', {'slug': 'europeas-2014'}) }}">{{ 'link_ep2014'|trans|capitalize }}</a></h4>
        </div>
    </div>
{% endblock %}
