<header>
    <h1>
        <img src="../../../public/img/partidox-redciudadana.png" />
    </h1>
</header>
<div class="title-logo">
    <h2>Logueate para participar</h2>
</div>
{{ render(controller("FOSUserBundle:Security:login")) }}

