{% extends '::base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="active">{{ 'change_password'|trans|capitalize }}</li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'change_password'|trans|capitalize }}
        </div>
        <div class="panel-body">
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>
{% endblock %}
