votolab_elections:
    pattern:  /elections
    defaults: { _controller: VotolabBundle:Elections:elections }
    options:
        expose: true

votolab_election:
    pattern:  /election/{slug}
    defaults: { _controller: VotolabBundle:Elections:election }

votolab_tally:
    pattern:  /election/{slug}/tally
    defaults: { _controller: VotolabBundle:Elections:tally }

votolab_list_tallies:
    pattern:  /election/{slug}/listTallies
    defaults: { _controller: VotolabBundle:Elections:listTallies }

votolab_admin:
    pattern:  /admin/
    defaults: { _controller: VotolabBundle:Admin:dashboard }

votolab_add_election:
    pattern:  /admin/election/add
    defaults: { _controller: VotolabBundle:Admin:addElections }

votolab_edit_election:
    pattern:  /admin/election/edit/{slug}
    defaults: { _controller: VotolabBundle:Admin:editElections }

votolab_publish_election:
    pattern:  /admin/election/publish/{slug}
    defaults: { _controller: VotolabBundle:Admin:publishElection }

votolab_delete_election:
    pattern:  /admin/election/del/{slug}
    defaults: { _controller: VotolabBundle:Admin:deleteElections }

votolab_list_candidates:
    pattern:  /admin/election/{slug}/candidate/list
    defaults: { _controller: VotolabBundle:Admin:listCandidates }

votolab_add_candidate:
    pattern:  /admin/election/{slug}/candidate/add
    defaults: { _controller: VotolabBundle:Admin:addCandidate }

votolab_edit_candidate:
    pattern:  /admin/election/{slug}/candidate/edit/{id}
    defaults: { _controller: VotolabBundle:Admin:editCandidate }

votolab_delete_candidate:
    pattern:  /admin/election/{slug}/candidate/del/{id}
    defaults: { _controller: VotolabBundle:Admin:deleteCandidate }

votolab_list_criterias:
    pattern:  /admin/election/{slug}/criterias/list
    defaults: { _controller: VotolabBundle:Admin:listCriterias }

votolab_add_criteria:
    pattern:  /admin/election/{slug}/criteria/add
    defaults: { _controller: VotolabBundle:Admin:addCriteria }

votolab_edit_criteria:
    pattern:  /admin/election/{slug}/criteria/edit/{id}
    defaults: { _controller: VotolabBundle:Admin:editCriteria }

votolab_delete_criteria:
    pattern:  /admin/election/{slug}/criteria/del/{id}
    defaults: { _controller: VotolabBundle:Admin:deleteCriteria }

votolab_vote:
    pattern:  /election/{slug}/vote/{id}
    defaults: { _controller: VotolabBundle:Elections:vote }