parameters:
#    votolab.example.class: Votolab\VotolabBundle\Example

services:
#    votolab.example:
#        class: %votolab.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]

services:

  # MANAGERS
  election_manager:
    class: Votolab\VotolabBundle\Model\ElectionManager
    arguments: [@doctrine.orm.entity_manager,@event_dispatcher]

  candidate_manager:
    class: Votolab\VotolabBundle\Model\CandidateManager
    arguments: [@doctrine.orm.entity_manager,@event_dispatcher]

  vote_manager:
    class: Votolab\VotolabBundle\Model\VoteManager
    arguments: [@doctrine.orm.entity_manager,@event_dispatcher]

  criteria_manager:
    class: Votolab\VotolabBundle\Model\CriteriaManager
    arguments: [@doctrine.orm.entity_manager,@event_dispatcher]

  # EVENT LISTENERS
  votolab.election_published_send_email:
    class: Votolab\VotolabBundle\EventListener\PublishResultsElectionListener
    arguments: ["@mailer"]
    tags:
        - { name: kernel.event_subscriber }

  # VOTERS
  can_view_election_voter:
    class: Votolab\VotolabBundle\Voters\CanViewElectionVoter
    arguments: [@election_manager]
    tags:
        - { name: security.voter }

  # FORMS
  votolab.election.form.type:
    class: Votolab\VotolabBundle\Form\Type\ElectionFormType
    tags:
        - { name: form.type, alias: election }

  votolab.candidate.form.type:
    class: Votolab\VotolabBundle\Form\Type\CandidateFormType
    tags:
        - { name: form.type, alias: candidate }

  votolab.criteria.form.type:
    class: Votolab\VotolabBundle\Form\Type\CriteriaFormType
    tags:
        - { name: form.type, alias: criteria }

  votolab.twig.votolab_extension:
        class: Votolab\VotolabBundle\Twig\VotolabExtension
        tags:
            - { name: twig.extension }