{% extends '::base.html.twig' %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de Candidatos
            <a type="button" class="btn btn-success btn-sm pull-right"
               href="{{ path('votolab_add_criteria', {'slug': election.slug}) }}">
                <span class="glyphicon glyphicon-plus"></span> Añadir Criterio
            </a>
        </div>
        <div class="panel-body">

            <table class="table">
                <thead>
                <th>Nombre</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                {% for criteria in criterias %}
                    <tr>
                        <td>{{ criteria.criterion }}</td>
                        <td><a type="button" class="btn btn-primary btn-sm" href="{{ path('votolab_edit_criteria', {'slug': election.slug, 'id': criteria.id}) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                        </td>
                        <td><a type="button" class="btn btn btn-danger btn-sm" href="{{ path('votolab_delete_criteria', {'slug': election.slug, 'id': criteria.id}) }}"><span class="glyphicon glyphicon-trash"></span> Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}