{% extends '::base.html.twig' %}

{% block navbar %}
    <header>
        <h1>
            <a href="{{ path('rcpx_homepage') }}">
                <img src="{{ asset('bundles/rcpx/images/partidox-redciudadana-big.png') }}" class="img-responsive"/>
            </a>
        </h1>
    </header>
{% endblock %}


{% block body %}
    <div class="row login">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>{{ 'listas_abiertas'|trans }}</h2>
            {{ block('fos_user_content') }}
        </div>
    </div>

{% endblock %}
