{% extends '::base.html.twig' %}
{% block body %}
    <div class="title-logo">
        <h2>Elige a un candidato para valorar</h2>
    </div>
    <ul class="list">
        {%  for candidate in candidates %}
        <li class="{{ cycle(["first", "last"], loop.index) }}">
            <a href="#">
                <img src="{{ asset('images/partidox-redciudadana.png') }}" alt="Example"/>
            </a>

            <div>
                <h3><a href="">{{ candidate.name }}</a></h3>

                <p>Diseñador y Front-end Developer</p>
            </div>
        </li>
        {%  endfor %}
    </ul>
    <span class="separator"></span>
{% endblock %}
{% block viewScripts %}
    <script src="{{ asset('bundles/rcpx/js/jquery.barrating.min.js') }}"></script>

{% endblock %}