{% extends '::base.html.twig' %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Elige a un candidato para valorar</div>
        <div class="panel-body">
            <div class="well-sm">
                {% for candidate in candidates %}
                    {{ include ('VotolabBundle:Elections:candidate.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block viewScripts %}
    <script src="{{ asset('bundles/rcpx/js/jquery.barrating.min.js') }}"></script>
    <script src="{{ asset('bundles/rcpx/js/views/election.js') }}"></script>
{% endblock %}
