{% extends '::base.html.twig' %}
{% block body %}
    <div class="title-logo">
        <header>
            <h2>Elige a un candidato para valorar</h2>
            <button class="logOut">Log Out</button>
        </header>
    </div>
    <div class="listWrapper">
        <div class="list left">
            {% for candidate in candidates %}
                {% if loop.index%2==0 %}
                    {{ include ('VotolabBundle:Elections:candidate.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="list right">
            {% for candidate in candidates %}
                {% if loop.index%2==1 %}
                    {{ include ('VotolabBundle:Elections:candidate.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <span class="separator"></span>
{% endblock %}
{% block viewScripts %}
    <script src="{{ asset('bundles/rcpx/js/jquery.barrating.min.js') }}"></script>
    <script src="{{ asset('bundles/rcpx/js/views/election.js') }}"></script>
{% endblock %}
