{% extends '::base.html.twig' %}
{% block body %}
    <div class="title-logo">
        <h2>Elecciones abiertas</h2>
    </div>
    <ul class="list">
        <li>
            hola
        </li>
    </ul>
{% endblock %}