{% extends '::base.html.twig' %}
{% block body %}
    <div class="title-logo">
        <h2>Elecciones abiertas</h2>
    </div>
    <div class="list">
        {%  for election in elections %}
        <div>
            <h3><a href="{{ path('votolab_election', {'slug': election.slug}) }}">{{ election.title }}</a></h3>
            <p>{{ election.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}