<p>Buenos días,</p>
<p>Os recordamos que hoy es el último día para poder votar a los candidatos de las Lista Abiertas de la Red Ciudadana Partido X.</p>
<p>Entra en la página de la herramienta de ponderación por aquí:</p>
<p><a href="https://listas.partidox.org">https://listas.partidox.org</a></p>
<p>Introduce los datos de usuario y contraseña que se ten enviarion por correo. Si has perdido el correo puedes solicitar una nueva contraseña haciendo click en <a href="https://listas.partidox.org/resetting/request">He olvidado mi contraseña</a>.</p>

<p>Saludos y muchas gracias,</p>

<p>Red Ciudadana Partido X</p>