<p>Síguelo en directo de 11:30 a 19:00 ininterrumpidamente en el link <a href="http://partidox.org/en-directo-fogueo/">http://partidox.org/en-directo-fogueo/</a> y participa enviando tu pregunta a través de nuestro evento de FB <a href="https://www.facebook.com/events/634348003303887/?context=create&source=49">https://www.facebook.com/events/634348003303887/?context=create&source=49</a> desde la web en el siguiente enlace: <a href="http://partidox.org/preguntas-fogueo/">http://partidox.org/preguntas-fogueo/</a> que se activará mañana. Las preguntas más valoradas serán respondidas en directo por los candidatos para testar su preparación.</p>

<p>Recuerda que hemos ampliado el plazo de activación de usuarios para las votaciones, si conoces a alguien proactivo con la Rad Ciudadana Partido X en redes sociales y aún no tiene su usuario puedes activarlo aquí: http://partidox.org/activacion-usuario-red-ciudadana/#social-login</p>

<p>Podrás votar con tu usuario y contraseña a partir del próximo domingo 23 en <a href="https://listas.partidox.org/">https://listas.partidox.org/</a> ¡Tu participación es muy importante!</p>

<p>Puedes conocer a tdos los candidatos en el siguiente link: <a href="https://listas.partidox.org/candidatos-ep2014">https://listas.partidox.org/candidatos-ep2014</a></p>

<p>A continuación, los horarios de las intervenciones de los candidatos :</p>

<p>
11:30 Juan Garay<br/>
12:00 Carmelo Ordoñez<br/>
12:30 Juan Moreno Yagüe<br/>
13:00 Sergio Salgado<br/>
13:30 Simona Levi<br/>
14:00 Marcelo Expósito<br/>
14:30 Leonor Pérez Zafón<br/>
15:00 José Luis Porcar<br/>
15:30 Nieves Montaño<br/>
16:00 Daniel Pérez<br/>
16:30 Joaquín Pagola<br/>
17:00 Raúl Royo<br/>
17:30 Susana Martín Belmonte<br/>
18:00 Raúl Burillo<br/>
18:30 Hervé Falciani<br/>
</p>

<p>Un saludo.</p>

<p>Red Ciudadana Partido X</p>