<p>Lo sentimos, por cuestiones de actualizaci칩n del sistema nos hemos visto obligados a generarte una nueva contrase침a para la votaci칩n a partir del domingo 23.</p>

<p>Disculpa las molestias.</p>

<p>
Usuario: {{ email }}<br/>
Contrase침a: {{ password }}
</p>
<p>
Herramienta <a href="https://listas.partidox.org">https://listas.partidox.org</a>
</p>

<p>Un saludo.</p>

<p>Red Ciudadana Partido X</p>