<p>Continuamos  con el proceso de creación de listas abiertas ciudadanas. Una vez contactados los candidatos propuestos y, tras haber verificado que cumplen con los requisitos básicos, <strong>pasamos al cuarto paso del proceso</strong> <a href="http://partidox.org/calendario-lista-ciudadana-ep2014/#paso4">http://partidox.org/calendario-lista-ciudadana-ep2014/#paso4</a></p>

<p>Esta fase consiste en la <strong>creación de usuarios de la red que podrán participar en la votación final</strong> de la lista que tendrá lugar tras el "fogueo" (entrevistas abiertas a los precandidatos)</p>

<p>Tal y como detallamos al inicio del proceso, <strong>podrán participar en esta votación todas aquellas personas que hayan aportado algo positivo</strong> desde el inicio del proyecto;  desde enmiendas en la elaboración de programas, participación en la  conversación en redes sociales, apoyo en los crowdfundings,o simplemente  haber invitado a otros a informarse sobre el trabajo en la Red  Ciudadana. Queremos que en este proceso puedan participar, si lo desean, aquellos que han aportado de manera positiva, <strong>lo cual no significa necesariamente que hayan apoyado o sean "simpatizantes"</strong> sino que, simplemente, no hayan tenido una actividad hostil. Es decir, <strong>cualquier persona que haya interaccionado con la Red Ciudadana con ánimo constructivo.</strong></p>

<p>Si recibes este mail es porque creemos que eres una de estas personas.</p>

<p>El Fogueo (entrevista pública a los precandidatos) tendrá lugar el 22 de marzo <a href="http://partidox.org/calendario-lista-ciudadana-ep2014/#paso5">http://partidox.org/calendario-lista-ciudadana-ep2014/#paso5</a> y se emitirá en directo por Internet aquí <a href="http://partidox.org/en-directo-fogueo/">http://partidox.org/en-directo-fogueo/</a></p>

<p>Recuerda, a la hora de realizar la votación de los candidatos, que el objetivo no es elegir al más popular o conocido sino conformar un grupo de ciudadanos que puedan defender los intereses comunes en el Parlamento Europeo según la hoja de ruta y el método de la Red Ciudadana Partido X.</p>

<p><strong>Aquí tienes tu usuario y la contraseña</strong>con los que te podras indentificar y acceder a la herramienta en la que se efectuará la ponderación final, (recuerda: se abrirá el 23 y 24 de marzo), que permitirá crear la lista definitiva.</p>

<p>
Usuario: {{ email }}<br/>
Contraseña: {{ password }}
</p>
<p>
Herramienta <a href="https://listas.partidox.org">https://listas.partidox.org</a>
</p>

<p>Un saludo.</p>

<p>Red Ciudadana Partido X</p>